{{title}}
<form enctype="multipart/form-data" method="POST" action="/upload">
    <input type="file" multiple required accept="*" name="filetoupload">
    <button type="submit">upload</button>
</form>



{{#each files}}
<div>
   {{name}}
</div>
{{/each}}


<script>

</script>